@import '../../../../../variables';

.loading-spinner{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 600px;
  padding: 50px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #4FBF9B; /* mudar para cor do tema */
}


.loading-spinner > *{
  margin: auto;
}