$bg: #FFF9F1;
$sidebar-w: 240px;
$surface: #FFFFFF;
$border: #e0dbd4;
$text: #474546;
$text-muted: #888;
$primary: #4FBF9B;
$primary-light: #e1f5ee;
$radius: 8px;
$danger: #e53935;
$danger-light: #fdecea;
$success: #4FBF9B;
$success-light: #e1f5ee;
$sidebar-w-sm: 60px;